html {
    font-size: 14px;
    scroll-behavior: smooth;
    color: hsl(0, 0%, 100%); 
    font-family: sans-serif;
    
}

body {
    display: block;
    background-color: hsl(218, 28%, 13%);
    margin: 0%;
    padding: 0%;
    
}


header {
   margin: 0%;
   height: auto;
    background-color:hsl(217, 28%, 15%);

}

.header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    max-width: 90%;
    margin: 0% auto;
    padding-block: 2em;
    
    
}

.fylo-logo {
    width: 80px;
    /* margin: auto;
    margin-top: 30%; */

}
nav {
    display: block;
    width: 200px;
}
.ul-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10%;
    width: 100%;
    color: white;
    font-size: 12px;
    text-decoration: none;
    color: #dad8d8;
    font-weight: 400;
    cursor: pointer;
    
    /* margin-top: 30%; */
    
    
    
}

.body{
border: 1px solid rgb(238, 220, 220);
width: 100px;
height: 500px;    
        
}



